*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alata", sans-serif;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: "Alata", sans-serif;
    font-size: 15px;
    background-color: #fff;
  }

:root{
    --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}

header{
    background-image: url(images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 50px 140px
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: var(--white);
    position: relative;
    font-size: 1.1rem;
}

header ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 1px solid var(--white);
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
}

header ul li a:hover::after{
    transform: scale(1);
}


header .menu-toggle {
    display: none; 
    cursor: pointer; 
    font-size: 2rem;
    color: white;
}

.top-title{
    font-family: "Josefin Sans", sans-serif;
    color: var(--white);
    font-weight: 300;
    font-size: 4.5em;
    width: 55%;
    text-transform: uppercase;
    margin: 160px 0;
    border: 2px solid var(--white);
    padding: 40px 10px 30px 40px;
}

/*section intro*/

.intro{
    display: flex;
    margin: 130px 0px 170px 140px;
}

.intro_text{
    background-color: var(--white);
    padding: 100px 0px 10px 90px;
    margin-top: 165px;
    position: relative;
    right: 150px;
}

.intro_text h2{
    font-family: "Josefin Sans", sans-serif;
    font-size: 3em;
    font-weight: 300;
    color: var(--black);
    text-transform: uppercase;
    line-height: 1.05;
    margin-bottom: 25px;
}

.intro_text p{
    color: var(--veryDarkGray);
    line-height: 1.7;
}

/* section gallerie*/

.gallery{
    margin: 0px 140px 150px 140px;
    display: grid;
    grid-template-columns: 1fr 180px;
    gap: 70px;
}

.gallery_title{
    font-family: "Josefin Sans", sans-serif;
    font-size: 3em;
    font-weight: 300;
    color: var(--black);
    text-transform: uppercase;
}

.gallery_btn {
    color: var(--black);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
    padding: 10px 40px;
    position: relative;
    transition: color 0.8s;
    overflow: hidden;
    text-align: right;
}

.gallery_btn::before {
    content: "";
    bottom: 0;
    left: 0;
    background-color: var(--black);
    position: absolute;
    width: 100%;
    height: 0%; /* Initialement à 0 */
    border-radius: 50% 50% 0 0;
    transition: height 0.8s; /* Transitions de la hauteur */
    z-index: -1;
}

.gallery_btn:hover::before {
    height: 190%; /* Lorsque le bouton est survolé, étendre la hauteur à 100% */
}

.gallery_btn:hover {
    color: var(--white); /* Changez la couleur du texte lors du survol */
}

#gallery_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1 / -1;
    gap: 30px;
}

.grid_img{
    position: relative;
    cursor: pointer;
    transition: 1s;
}


.grid_img:hover{
    transform: scale(0.97);
}

.grid_img h3{
    font-family: "Josefin Sans", sans-serif;
    font-size: 2em;
    font-weight: 300;
    color: var(--white);
    text-transform: uppercase;
    position: absolute;
    bottom: 25px;
    left: 35px;
    width: 60%;
}

.grid_img img{
    width: 100%;
    height: 100%;
}

.grid_img::before {
    content: "";
    background-image: linear-gradient(rgba(255, 255, 255, 0) 40%, rgba(0, 0, 0, 0.6) 80%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.grid_img:hover::before{
    content: "";
    background-image: linear-gradient(rgba(255, 255, 255, 0.6) 70%, rgba(255, 255, 255, 0.6) 60%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.grid_img:hover h3 {
    color: var(--black);
}

/*Footer*/

footer{
    background-color: var(--black);
    padding: 40px 140px 50px 140px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.social_link{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-top: 5px;
}

.social_link a{
    font-size: 0.9em;
    padding-bottom: 4px;
    position: relative;
}

.social_link a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 1px solid var(--white);
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
}

.social_link a:hover::after{
    transform: scale(1);
}

.footer_link{
    display: flex;
    gap: 30px;
}

.footer_link a{
    text-decoration: none;
    color: var(--dark-gray);
    padding-bottom: 4px;
    position: relative;
    transition: 0.5s ease-in-out;
}

.footer_link a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 1px solid var(--dark-gray);
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
}

.footer_link a:hover::after{
    transform: scale(1);
}

.footer_legal{
    color: var(--dark-gray);
    font-size: 0.9rem;
    text-align: right;
}

@media (max-width: 1380px){
    header{
        background-image: url(./images/mobile/image-hero.jpg);
        padding: 40px 50px;
    }

    header nav ul{
        background-color: var(--black);
        text-transform: uppercase;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        height: 85%;
        padding: 200px 50px;
        position: absolute;
        top: 15%;
        right: 0;
        margin-top: -120%;
        transition: 0.7s ease-in-out;
    }

    header nav ul li{
        margin-left: none;
    }

    header nav ul li a{
        font-family: "Josefin Sans", sans-serif;
        font-size: 1.7em;
        font-weight: 300;
    }

    header .menu-toggle{
        display: block;
    }

    .nav_mobile {
        margin-top: 0;
    }
    
    .top-title{
        font-size: 3.5em;
        width: 70%;
        margin: 200px 0;
    }
    .intro{
        flex-direction: column;
        margin: 100px 50px;
    }

    .intro img{
        width: 100%;
    }

    .intro_text{
        padding: 25px 10px 0px 10px;
        margin-top: 30px;
        right: 0px;
    }

    .intro_text h2{
        text-align: center;
        font-size: 2em;
        margin-bottom: 20px;
    }

    .intro_text p{
        text-align: justify;
    }

    .gallery{
        margin: 0px 50px 110px 50px;
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .gallery_title{
        text-align: center;
        font-size: 2em;
    }

    .gallery_btn{
        margin: 0 70px;
        text-align: center;
        grid-row: 3;
    }

    #gallery_grid{
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
    
    .grid_img h3{
        font-size: 1.5em;
        bottom: 15px;
        left: 20px;
        width: 45%;
    }

    footer{
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 60px 10px 50px 10px;
    }

    .logo{
        text-align: center;
        margin-bottom: 15px;
    }

    .social_link{
        justify-content: center;
        gap: 15px;
        grid-row: 3;
    }
    .footer_link{
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-bottom: 25px;
    }

    .footer_legal{
        text-align: center;
    }

}

@media (max-width: 700px){
    header{
        padding: 40px 25px;
    }

    header nav ul{
        align-items: flex-start;
        margin-top: -270%;
        padding: 170px 25px;
    }

    .top-title{
        font-size: 2.4em;
        width: 100%;
        padding: 25px 20px 15px 20px;
    }

    .intro{
        margin: 100px 25px 100px 25px;
    }

    .gallery{
        margin: 0px 25px 110px 25px;
    }

    #gallery_grid{
        grid-template-columns: 1fr;
    }    
}